.square {
  background: #fff;
  border: 2px solid #999;
  font-size: 48px;
  font-weight: bold;
  height: 100px;
  width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  background: #f1f1f1;
}
